<div class="toolbar">
    <div class="toolbar-left">
        <!-- Search Input -->
        <div class="search-box">
            <ng-icon name="heroMagnifyingGlass" size="20" class="search-icon"></ng-icon>
            <input [(ngModel)]="searchQuery" (input)="onSearch()" type="text" placeholder="Buscar jugadores..."
                class="search-input" />
        </div>

        <div class="divider"></div>

        <!-- Active Filters -->
        <div class="filters-container">
            <button *ngFor="let filter of activeFilters" (click)="onRemoveFilter(filter.value)" class="filter-chip">
                <span>{{ filter.label }}</span>
                <ng-icon name="heroXMark" size="16"></ng-icon>
            </button>

            <button (click)="onAddFilter()" class="add-filter-button">
                <ng-icon name="heroPlus" size="18"></ng-icon>
                <span>Más Filtros</span>
            </button>
        </div>
    </div>

    <div class="toolbar-right">
        <button (click)="onExport()" class="icon-button" title="Exportar">
            <ng-icon name="heroArrowDownTray" size="20"></ng-icon>
        </button>
        <button (click)="onSort()" class="icon-button" title="Ordenar">
            <ng-icon name="heroFunnel" size="20"></ng-icon>
        </button>
    </div>
</div>